@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

#root{
    min-height: 100vh;
}

body{
    background-color: #DFF8FE;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

header{
    height: 8vh;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;}

.logo h1{
    font-family: 'Titan One', cursive;
    color: #F01159;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;}

.links-nav--wrap{
    width: 25%;
    align-items: center;}

.link-user{
    display: flex;
    flex-direction: column;
    height: 8vh;
    padding: 1rem;}

.link-user span{
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: #003450;}

.links-nav{
    display: flex;
    justify-content: space-between;}

.links-nav a{
    padding: 0.5rem;
}

.links-nav li{
    text-decoration: none;
    list-style-type: none;
    height: 8vh;}

.link-nav{
    text-decoration: none;
    color: #003458;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;}

.shoppingCart{
    height: 8vh;
    align-items: center;}

.cart{
    height: 8vh;
    max-width: 35px;}

.card-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;}

.card{
    width: 24%;
    border-radius: 10px;
    margin-bottom: 5vh;
    padding: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;}

.card:hover{
    /*background-color: #82CDE5;*/
    background-color: #aaddee;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.2);}

.card-img img{
    max-width: 100%;}

.card-info{
    padding-bottom: 1.2rem;
}

.card-info h2{
    width: 100%;
    text-align: center;
    color: #003458;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.5rem;}

.card-info p{
    width: 100%;
    text-align: center;
    color: #003458;
    font-weight: 700;
    font-size: 1rem;}

.card-btn{
    display: block;}

.btn-add{
    width: 90%;
    padding: 0.5rem;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 4%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F01159;
    text-transform: uppercase;
    border: none;
    font-weight: 600;}

.btn-add a{
    color: #DFF8FE;
    text-decoration: none;
}

.btn-add:hover{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.7);}

.btn-info{
    position: relative;
    left: 10%;
    margin-top: 2rem;
    font-size: 1.3rem;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid 2px #F01159;
    background-color: transparent;
    text-transform: uppercase;
    color: #003450;
    font-weight: 600;}

.contador-wrap{
    padding-top: 5vh;}

.contador{
    position: relative;
    width: 30%;
    margin-right: 10%;
    background-color: #aaddee;
    border-radius: 10px;}

.contador p{
    text-align: center;
    color: #24262e;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-wrap{
    border-top: solid #24262e 1px;
    width: 100%;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;}

.btn-wrap button{
    width: 25%;
    border: none;
    background-color: transparent;
    color: #24262e;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;}

.reset{
    margin-left: 12.5%;
    margin-right: 12.5%;}

.Detail{
    min-height: 92vh;
    width: 100vw;}

.Detail-info{
    width: 50vw;
    padding: 5vw;}

.Detail-info h2{
    color: #003450;
    font-size: 4rem;
    margin-bottom: 0.5rem;}

.Detail-info h3{
    color: #355566;
    font-size: 2rem;
    margin-bottom: 1.5rem;}

.desciption, .ubicacion, .temp, .riego{
    color: #003450;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 550;}

.pcio{
    color: #003450;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;}

.Detail-img{
    min-height: 92vh;
    width: 50vw;
    background-color: #aaddee;
    -webkit-border-top-left-radius: 60px;
    -webkit-border-bottom-left-radius: 60px;
    -moz-border-radius-topleft: 60px;
    -moz-border-radius-bottomleft: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    position: absolute;
    top: 8vh;
    left: 50vw;
    padding: 5vw;}

.Detail-img img{
    height: 100%;
    width: 100%;}

.btns-wrap{
    margin-top: 2rem;}

.detail-add{
    top: 0px;
    position: relative;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    color: #F01159;
    border: 3px solid #F01159;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;}

.itemCount-wrap{
    display: flex;
    width: 50vw;}

.buy{
    position: relative;
    left: 10%;
    margin-top: 2rem;
    font-size: 1.3rem;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F01159;
    text-transform: uppercase;
    color: #DFF8FE;
    border: none;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.itemContainer{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 5rem;
}

.itemsWrap{
    flex-wrap: wrap;
    position: relative;
    display: flex;
    width: 85%;}

.category-wrap{
    width: 15%;}

.category a{
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-decoration: none;
    font-weight: 600;}

.cartContainer{
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    flex-wrap: wrap;
    min-height: 100%;
}

.cartTitle{
    font-size: 2rem;
    font-weight: 600;
    color: #003450;}

.cart-left{
    width: 60%;
    margin-right: 2rem;}

.checkoutProduct{
    border: solid 2px #97cce8;
    display: flex;
    border-radius: 20px;
    margin-top: 2rem;}

.checkoutProduct__image{
    height: 250px;
    margin-right: 3rem;}

.checkoutProduct__info{
    padding-top: 2rem;}

.checkoutProduct__title{
    font-size: 2rem;
    font-weight: 600;
    color: #003450;
    margin-bottom: 1rem;}

.checkoutProduct__price{
    font-size: 2rem;
    font-weight: 600;
    color: #003450;
    margin-bottom: 2.5rem;}

.cart-right{
    background-color: #003450;
    border-radius: 20px;
    width: 35%;
    padding: 2rem;
    height: 14rem;}

.subtotal p{
    font-weight: 600;
    font-size: 1.5rem;
    color: #DFF8FE;
    margin-bottom: 1.5rem;}

.btn-subtotal{
    width: 100%;
    margin-bottom: 1rem!important;}

.Login{
    margin-top: 3rem;
    margin-left: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #97cce8;
    border-radius: 20px;}

.logo-form, .LoginContainer h2{
    width: 100%;
    text-align: center;}

.logo-form{
    margin-bottom: 2rem;}

.LoginContainer h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #003450;}

.input-form{
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: #DFF8FE;
    height: 2rem;
    padding: 0.5rem;}

.label-form{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #003450;}

.btn-form{
    width: 60%;
    margin-left: 20%!important;}

.btn-form-wrap{
    flex-direction: column;
    display: flex;
    width: 100%;
    text-align: center;}

.margin-b{
    margin-bottom: 3rem;
}

.small-form{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #003450;}

.payment{
    padding: 3rem;}

.payment-container{
    margin-left: 10%;
    margin-right: 10%;}

.payment-data p{
    color: #003450;
    font-size: 1.5rem;
    font-weight: 600;}

.payment-data h3, .payment-title h3, .payment-priceContainer h3{
    color: #003450;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem;}

.input-form-p{
    width: 100%;
    border: 2px solid #aaddee;
    border-radius: 7px;
    background-color: #DFF8FE;
    height: 2rem;
    padding: 0.5rem;}

.confirm{
    width: 40%;
    left: 30%;
    position: relative;}

.active{
    font-weight: 700;
    text-decoration: underline;
}


