@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

#root{
    min-height: 100vh;
}

header{
    height: 8vh;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;}

.logo h1{
    font-family: 'Titan One', cursive;
    color: #24262e;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;}

.links-nav--wrap{
    width: 50%;
    align-items: center;}

.links-nav{
    display: flex;
    justify-content: space-between;}

.links-nav li{
    text-decoration: none;
    list-style-type: none;
    height: 8vh;}

.link-nav{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #24262e;
    font-weight: 600;
    font-size: 20px;
    line-height: 8vh;}

.shoppingCart{
    height: 8vh;
    align-items: center;}

.cart{
    height: 8vh;
    max-width: 35px;}

.itemListCont-wrap{
    height: auto;
    width: 100vw;
    position: relative;
    top: 0px;
    z-index: -1;
    background-color: white;
    padding-top: 20vh;}

.greeting-title{
    width: 60%;
    position: relative;
    left: 5vw;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: #24262e;
    font-weight: 700;
}

.contador-wrap{
    padding-top: 5vh;
}

.contador{
    position: relative;
    left: 5vw;
    width: 6vw;
    background-color: #d6ffff;
    border-radius: 10%;
}

.contador p{
    text-align: center;
    color: #24262e;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-wrap{
    border-top: solid #24262e 1px;
    width: 100%;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.btn-wrap button{
    border: none;
    background-color: transparent;
    color: #24262e;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.reset{
    padding-left: 15%;
    padding-right: 15%;
}